@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@400;700&display=swap');

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background: #455a64 url('images/bg.webp') 0 0 repeat;
	/* color: #FBC02D; */
	/* color: #42b883; Vue color */
	color: #3c6;
	font: 1.25rem 'Victor Mono', monospace;
	padding: 0 1.25rem 6.25rem;
}

.page_wrapper {
	max-width: 71.25rem;
	margin: 0 auto;
}

a,
button,
.trs {
	color: #E57373;
	text-decoration: none;
	transition: all 0.25s ease 0s;
}

a:hover,
button:hover {
	font-weight: 700 !important;
	color: #EF5350;
}


ol {
	padding: 0 1.5625rem;
	list-style: none;
}

.styled__list {
	list-style: disc;
}

ol li {
	border: 0.0625rem solid #263238;
	margin-bottom: 0.9375rem;
	border-radius: 0.625rem;
	padding: 0.9375rem;
}

ol h3 {
	margin: 0.3125rem 0.3125rem 0.9375rem;
}

ol p {
	padding: 0 0.9375rem;
	margin: 0;
}

ol h3 p {
	margin-top: 1rem;
	font-weight: normal;
	font-size: 1.25rem;
}

ol a,
button {
	/* display: inline-block */
	display: flex;
	align-items: center;
	color: #E57373;
	height: 3.4375rem;
	border-radius: 0.375rem;
	background: #263238;
	padding: 0 0.9375rem;
	font-weight: 400;
	font-size: 2.25rem;
	justify-content: space-between;
}

ol h3 a {
	letter-spacing: 0.125rem;
}

ol h3 a span {
	letter-spacing: normal;

}

.button_unstyled {
	color: initial;
	background: initial;
	height: initial;
	padding: initial;
	margin: initial;
}

ol a:hover,
button:hover {
	background: #00838F;
	cursor: pointer;
}

.button_unstyled:hover {
	background: initial;
	color: initial;
}

ol a:hover span {
	animation: shake 0.8s linear infinite;
}

button {
	line-height: 3.4375rem;
	appearance: none;
	border: none;
	font: inherit;
	margin-bottom: 0.9375rem;
}

@keyframes shake {

	0%,
	100% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-0.1875rem);
	}

	75% {
		transform: translateX(0.1875rem);
	}
}


.result_body h1,
.result__body h1 {
	color: #FBC02D;
	border-bottom: 0.125rem solid #5C6BC0;
	padding-bottom: 1rem;
}

.sandbox {
	max-width: 60rem;
	margin: 0 auto;
	display: grid;
	gap: 1rem;
}

.sandbox label {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.sandbox input[type="text"],
.sandbox input[type="number"],
.sandbox input[type="date"],
.sandbox input[type="password"],
.sandbox select {
	border-radius: 0.625rem;
	border: 0.125rem solid #5c6bc0;
	font-size: 1.25rem;
	padding: 0.625rem 1.25rem;
	outline: none;
	transition: all 0.25s ease 0s;
	color: #3f4f57;
	flex-grow: 1;
}

.sandbox label>input {
	margin-left: 1rem;
}

.sandbox select {
	margin-left: 0;
}

.sandbox label input[type="text"]:disabled {
	background: #fff;
}

.sandbox label input[type="text"]:focus {
	border-color: #3c6;
}

.sandbox p {
	padding-right: 1rem;
}

.task_txt {
	font-size: 1rem;
	color: #42b883;
	padding-bottom: 1rem;
}

.vue {
	display: grid;
	justify-content: start;
}

.dz_1_2 img {
	max-width: 100%;
}