<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vue.js DZ 2.1</title>
		<link rel="icon" type="image/x-icon" href="../../favicon.ico" />
		<link rel="stylesheet" href="../../style.css" />
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	</head>
	<style>
		.dz_2_1 button {
			justify-content: center;
		}
		.d_block {
			display: block;
		}
		.d_none {
			display: none;
		}
		.blueError {
			color: #64b5f6;
		}
		.redError {
			color: #ef5350;
		}
	</style>
	<body class="result_body">
		<div class="page_wrapper">
			<h1>Задача 1</h1>
			<p class="task_txt">
				Вводимо логіна і пароль. Якщо логін вірний відображаємо смайл. Якщо ні, то: <br />
				1) якщо логін = Іван – колір повідомлення про помилку синій <br />
				2) якщо хтось інший, то колір повідомлення червоний <br />
				Ivan - 111 <br />
				bbbb - 222
			</p>

			<div id="app" class="vue">
				<div class="sandbox dz_2_1">
					<label>
						Login
						<input type="text" v-model="userLogin" placeholder="Введіть логін" />
					</label>
					<label>
						Password
						<input type="password" v-model="userPassword" placeholder="Введіть пароль" />
					</label>
					<button type="button" @click="checkAuthorization">Тиць</button>
					<p :class="getMsgClassNames">{{ authenticationMessage() }}</p>
					<img v-if="isAuthenticated" src="../../images/dz_2/emoji_2.1.png" alt="WoW Emoji" width="250" />
				</div>
			</div>
		</div>

		<script>
			// 1. Імпортуємо createApp

			const { createApp } = Vue

			const accArr = [
				{
					login: 'Ivan',
					password: '111',
				},
				{
					login: 'bbbb',
					password: '222',
				},
			]
			// 2. Створюємо об'єкт додатку
			const app = createApp({
				data() {
					return {
						userLogin: '',
						userPassword: '',
						isAuthenticated: false,
						msgShow: false,
					}
				},
				methods: {
					authenticationMessage() {
						return this.isAuthenticated ? 'Успішна авторизація!' : 'Неуспішна авторизація!'
					},
					checkAuthorization() {
						this.isAuthenticated = accArr.some((acc) => acc.login === this.userLogin && acc.password === this.userPassword)
						this.msgShow = true
					},
				},
				computed: {
					isIvan() {
						return this.userLogin === 'Ivan'
					},
					getMsgClassNames() {
						return {
							d_none: !this.msgShow,
							d_block: this.msgShow,
							blueError: !this.isAuthenticated && this.isIvan,
							redError: !this.isAuthenticated && !this.isIvan,
						}
					},
				},
			})

			// 3. Монтуємо додаток
			app.mount('#app')
		</script>
	</body>
</html>
